<?xml version="1.0"?>
<robot name="so_arm101" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the arm macro -->
  <xacro:include filename="$(find so_arm101_description)/urdf/so_arm101_macro.xacro" />

  <!-- World link for fixing robot to ground -->
  <link name="world"/>

  <!-- Instantiate the arm -->
  <xacro:so_arm101 prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:so_arm101>

</robot>